@charset "UTF-8";

	.feedback_message {
		float: right;
	}
.feedback_exit {
	float: right;
}
	.feedback:hover {
		cursor: pointer;
	}
.feedback_header h1 {
	background-color: #0099cc;
	border-bottom: 1px solid #0099cc;
	border-image: none;
	border-style: none none solid;
	border-width: 0 0 1px;
	color: #ffffff;
	cursor: move;
	display: block;
	font-size: 14px !important;
	font-family: 'Lato',sans-serif;
	font-weight: normal;
	height: 32px;
	line-height: 32px;
	margin: 0;
	padding: 0 0 0 6px;			
}

.feedback_body {
	height: auto;
}
	.feedback_wrapper {
	 	margin: 0px 12px;
		padding: 12px 6px !important;
	}
		.feedback_label {
			height:15px;
			padding-bottom: 6px;
		}
		.feedback_codes {
		 	white-space: normal;
		}
			.feedback_code_list {
			    appearance: menulist-button;
				background-color: rgb(248, 248, 248);
				border-radius: 3px;
				border: 1px solid #a2a2a2;
				box-sizing: border-box;
				font-family: 'OpenSans',Arial,sans-serif;
			    font-size: 12px;
				height: 22px;
    			line-height: 22px;
    			padding: 3px 0 2px 0;
    			-webkit-appearance: menulist-button;
				width: 204px;
			}
	.feedback_comments_wrapper {
	 	margin: 0 12px;
	}
		.feedback_comments {
		}
			.feedback_comment {
			 	box-sizing: border-box;
			 	height: 80px;
			 	resize: none;
			 	width: 100%; 
			}
	.feedback_notify_me {
	 	margin: 0px 12px;
	 	padding-top: 6px;
	}
	.feedback_name_email_wrapper {
	 	margin: 0px 12px;
	 	overflow: hidden;
	 	padding: 12px 6px !important; 
	}
		.feedback_name_wrapper, .feedback_email_wrapper {
		 	line-height: 24px;
		 	vertical-align: top; 
		 	white-space: nowrap;
		}
			.feedback_name, .feedback_email {
			 	float: left;
			 	line-height: 24px;
			 	padding-bottom: 6px;
				width: 30%;
			}
			.feedback_name_input_wrapper, .feedback_email_input_wrapper {
			 	float: right;
			 	line-height: 24px;
			 	overflow: hidden;
			 	padding-bottom: 6px;
			 	width: 60%;
			}
				.feedback_name_input, .feedback_email_input {
				 	background-color: #ffffff;
				 	border: 1px solid #a2a2a2;
				 	border-radius: 3px;
				 	box-shadow: 1px 1px 1px #dddddd inset;
				 	box-sizing: border-box;
					height: 24px;
				 	overflow:hidden;
				 	padding-left: 6px;
				 	padding-right: 6px;
				 	width: 100%;
				}
				.feedback_name_input_off, .feedback_email_input_off {
					background-color: rgba(0,0,0,0.05);
				    border-color: rgba(0,0,0,0.1);
	    			box-shadow: none;
				}
.feedback_footer {
	overflow: auto; 
	padding: 12px 6px !important;
}
	.feedback_submit_info {
		float: right;
		overflow: hidden;
	}
		.feedback_button button {
				background-color: #eeeeee;
			    background-image: linear-gradient(to bottom, #fff 1%, #dfdfdf 100%);
			    background-repeat: no-repeat;
			    border: 1px solid #888888;
			    border-radius: 3px;
			    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(39, 41, 43, 0.15) inset;
			    box-sizing: border-box;
			    color: #222222;
			    cursor: pointer;
			    display: inline-block;
			    font-family: "OpenSans",Arial,sans-serif;
			    font-size: 12px;
			    height: 24px;
			    line-height: 22px;
			    margin: 0;
			    min-width: 0;
			    transition: opacity 0.1s ease 0s, background-color 0.1s ease 0s, color 0.1s ease 0s, box-shadow 0.1s ease 0s, background 0.1s ease 0s;
			    text-align: center;
			    white-space: nowrap;
			    width: auto;
		}
		.feedback_button button:hover {
			border-color: #0099ee;
		}
		.feedback_button button:active {
			color: #0099ee;
		}		
	.feedback_cancel_info {
		float: left;
	}
		.feedback_underline {
			text-decoration: underline;
		}