@charset "UTF-8";

.bookmark_html {
	padding: 6px;	
}
.bookmark_exit {
	float: right;
	color: white;
}
	.bookmark_exit:hover {
		cursor: pointer;
	}
.bookmark_header h1 {
	background-color: #003c71;
	border-bottom: 1px solid #666666;
	border-image: none;
	border-style: none none solid;
	border-width: 0 0 1px;
	color: #ffffff;
	display: block;
	font-size: 14px !important;
	font-family: 'Lato',sans-serif;
	font-weight: normal;
	height: 32px;
	line-height: 32px;
	margin: 0;
	padding: 6px 6px 6px 6px;	
}
.bookmark_label {
	clear: both;
    content: " ";
    display: block;
    padding-bottom: 12px;
    padding-top: 12px;
}
	.bookmark_description {
		color: #666;
	    font-style: italic;
	    font-style: italic;
	    white-space: normal;
	    height: auto;
	    width: 100%;
	}
.bookmark_table {
	height: auto;
	display: flex; 
	align-items: center;
}
	.bookmark_table_wrapper {
		float: left; 
		width: 90%;
	}
	.bookmark_col1 {
		width: 10%;
	}
	.bookmark_col2 {
		width: 15%;
	}
	.bookmark_col3 {
		width: 25%;
	}
	.bookmark_col4 {
		width: 50%;
	}
	.bookmark_table_header {
		align-items: center;
		border-color: #003c71;
		border-style: solid; 
		border-width: 0 1px 1px;
		box-sizing: border-box;
		display: flex;
		overflow-x: hidden; 
		white-space: nowrap;
	}
		.bookmark_table_header_col {
			border-style: solid; 
			border-color: #003c71; 
			border-width: 0 1px 0 0;
			display: inline-block; 
			padding: 3px 6px 2px; 
		}
		.bookmark_table_header_end {
			border-style: solid; 
			border-color: #003c71; 
			border-width: 0 0 0 0;
			display: inline-block; 
			padding: 3px 6px 2px; 
		}
	.bookmark_button {
	    background-color: transparent;
	    background-image: none;
	    background-repeat: no-repeat;
	    border: 1px dashed #666666;
	    border-radius: 3px;
	    box-shadow: none;
	    box-sizing: border-box;
	    color: #666;
    	font-family: "OpenSans",Arial,sans-serif;
    	font-size: 12px;
    	height: 24px;
    	line-height: 22px;
		margin-bottom: 6px;
	    min-width: 100%;
    	padding: 0 12px !important;
    	text-align: center;
    	white-space: nowrap;
    	width: auto;
	}
		.bookmark_button_active {
		  	background-color: #eee;
		    background-image: linear-gradient(to bottom, #fff 1%, #dfdfdf 100%);
		    border: 1px solid #888;
		    border-radius: 3px;
		    color: #222;
		}
	.bookmark_action_button {
	    background-color: transparent;
	    background-image: none;
	    background-repeat: no-repeat;
	    border: 1px dashed #666666;
	    border-radius: 3px;
	    box-shadow: none;
	    box-sizing: border-box;
	    color: #666;
	    cursor: pointer;
	    font-family: "OpenSans",Arial,sans-serif;
	    font-size: 12px;
	    height: 24px;
	    line-height: 22px;
	    margin: 0;
	    min-width: 0;
	    padding: 0 6px !important;
	    text-align: center;
	    transition: opacity 0.1s ease 0s, background-color 0.1s ease 0s, color 0.1s ease 0s, box-shadow 0.1s ease 0s, background 0.1s ease 0s;
	    white-space: nowrap;
	    width: auto;
	}
		.bookmark_action_button:hover {
		    border-color: #003c71;
		}
		.bookmark_action_button:hover:active {
				color: #003c71;
		}
		.bookmark_action_button_active {
		  	background-color: #eee;
		    background-image: linear-gradient(to bottom, #fff 1%, #dfdfdf 100%);
		    border: 1px solid #888;
		    border-radius: 3px;
		    color: #222;
		}
	.bookmark_list {
		border-left: 1px solid #c7c7c7;
		border-right: 1px solid #c7c7c7;
	}
		.bookmark_item {
			align-items: center;
			background-color: #fbfbfb;
			border-bottom: 1px solid #c7c7c7;
			box-sizing: border-box;
			display: flex;
			font-family: "OpenSans",Arial,sans-serif;
			font-size: 12px;
    		font-style: italic;
			overflow-x: hidden; 
			white-space: nowrap;
		}
			.bookmark_item:hover {
				align-items: center;
				background-color: #e2e2e2;
			}
			.bookmark_item_col {
				display: inline-block; 
				padding: 3px 6px 2px;
			}
			.bookmark_item_white_space {
				white-space: normal;
			}
		.bookmark_item_selected {
			background-color: #dcf1f9 !important;
		}
			.sr_lr_icon {
				cursor: pointer;
		    	display: inline-block;
			    line-height: 24px;
			    overflow: hidden;
			    padding-right: 5px;
			    vertical-align: middle;
			    width: 24px;
			}
			.sr_lr_icon_content_article, .sr_lr_icon_KnowledgeArticleED {
				background: transparent url(../images/iconKnowledgeArticle.png) no-repeat scroll center center;
			}
			.sr_lr_icon_content_knowledgealert, .sr_lr_icon_KnowledgeAlertED {
				background: transparent url(../images/iconKnowledgeAlert.png) no-repeat scroll center center;
			}
			.sr_lr_icon_content_faq, .sr_lr_icon_KnowledgeFAQED {
				background: transparent url(../images/iconKnowledgeFAQ.png) no-repeat scroll center center;
			}
			.sr_lr_icon_content_uploadeddocument, .sr_lr_icon_KnowledgeUploadED {
				background: transparent url(../images/iconKnowledgeUploadedDocument.png) no-repeat scroll center center;
			}
			.sr_lr_icon_content_spidereddocument, .sr_lr_icon_Unstructured {
				background: transparent url(../images/iconKnowledgeWeblink.png) no-repeat scroll center center;
			}
			.sr_lr_icon_content_decisiontree, .sr_lr_icon_pageSet {
				background: transparent url(../images/iconKnowledgePageSet.png) no-repeat scroll center center;
			}
			.sr_lr_icon_content_segment, .sr_lr_icon_KnowledgeSegmentED {
				background: transparent url(../images/iconKnowledgeSegment.png) no-repeat scroll center center;
			}
			.sr_lr_icon_content_remotedocument, .sr_lr_icon_KnowledgeRemoteDocumentED {
				background: transparent url(../images/iconKnowledgeRemoteDocument.png) no-repeat scroll center center;
			}
	.bookmark_move_buttons {
		display: inline-block;
		height: auto;
		padding: 18px;
	}
		.bookmark_move_buttons_block {
			display: block;
		}
	.bookmark_actions {
		padding: 6px 12px;
	}
		.bookmark_actions_wrapper {
		 	float: right;
			padding-right: 6px;
		}

/* Media Queries */
@media screen and (max-width: 1024px) {
		#bookmark-table-header-end {
			display: none;
		}
		#bookmark-item-col-end {
			display: none;
		}
}

