@charset "UTF-8";

html { }
div { display: block; }
ol, ul { margin: 0;}
ul li { margin: 0; padding: 0;}
h1 { margin-bottom: 10px; color: #111111;}	
a, img { outline: none; border:none; color: #000;}
img { display: block; margin-bottom: 10px;}
aside { font-style: italic; font-size: 0.9em;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { }
h4 {
	font-family: 'Lato',sans-serif;
    font-weight: 400;
    margin: 0;
}

/* Search */
.search {
	margin-bottom: 0px;	
}
.search_container {
	border-top: 1px solid #c7c7c7;
/*	border-left: 1px solid #c7c7c7; */
/*	border-right: 1px solid #c7c7c7; */
	padding-top: 6px;
	padding-left: 6px;
	padding-right: 6px;
	position: relative;
}
		.search_wrapper {
		    padding: 12px 10px;
		}
			#search-wrapper.on {
				display: block;
			}
			#search-wrapper.off {
				display: none;
			}
		.search_box {
			padding-bottom: 5px;
		}
			.search_text {
    			background-color: transparent;
    			border: 0 none;
    			box-shadow: none;
    			box-sizing: border-box;
    			color: #232221;
			    cursor: auto;
		    	font-size: 12px;
    			line-height: normal;
			    margin: 0;
    			min-height: 14px;
    			padding: 15px 48px 15px 15px;
				text-indent: 1px;
    			width: 100%;
			}
			.search_button {
	    		background: transparent url("../images/searchicon.png") no-repeat scroll center center;
		    	cursor: pointer;
			    float: right;
			    height: 48px !important;
				line-height: 22px;
				min-height: 22px;
				min-width: 22px;
    			position: absolute;
    			right: 0;
    			top: 0;
    			width: 48px !important;
			}
.search nav.open {
		display: block;
	}

		.search_menu {
		}
		#search-menu {
			display: block;
		}
		.search a.search_menu_toggle {
			display: none;
		}
			.search a.search_menu_toggle.open {
				display: none;
			}
			.search_menu ul {
				padding: 0px;
			}
				.search_menu ul li {
					background-repeat: no-repeat;
					background-position: center;
					border-style: solid;
				    border-color: #c7c7c7;
				    border-width: 1px 1px 0 0;
				    display: inline-block;
					height: 25px;
					line-height: 27px;
					min-height: 100%;
				    padding-bottom: 2px;
					text-decoration: none;
					text-align: center;
					width: 43px;
				}
					.search_menu ul li a:hover {
						cursor: pointer;
					}
					.search_menu ul li a.left {
					    border-left: 1px solid #c7c7c7;
				    }
						.search_menu ul li a {
							display: block;
							text-decoration: none;
						}
							.search_menu ul li a.sel {
						    	background-color: #def2fa;
						    }
							.search_menu ul li a.search_alerts {
								background-image: url("../images/iconTabAlerts.png");
								background-repeat: no-repeat;
								background-position: center center;
							}
							.search_menu ul li a.search_bookmarks {
								background-image: url(../images/iconTabBookmarks.png); 
								background-repeat: no-repeat;
								background-position: center center;
							}
							.search_menu ul li a.search_featured {
								background-image: url(../images/iconTabFeatured.png);
								background-repeat: no-repeat;
								background-position: center center;
							}
							.search_menu ul li a.search_new_changed {
								background-image: url(../images/iconTabNewOrChanged.png);
								background-repeat: no-repeat;
								background-position: center center;
							}
							.search_menu ul li a.search_search {
								background-image: url(../images/iconTabSearch.png);
								background-repeat: no-repeat;
								background-position: center center;
							}
							#search-tab-menu {
								display: none;
							}
							.search_menu ul li a.search_tab_menu {						
							}
								.search_menu ul li a.search_tab_menu i {
								    font-size: 20px;
	    							line-height: 20px;
	    							text-align:center;
	    							vertical-align: middle;
								}

					.search_menu_mobile {
						display: none;
						float: right;
						color: #003c71;
					}
		.search_filter_section {
			color: #222;
			display: none;
			font-size: 14px;
			padding: 6px;
		}
		#search-cloud-wrapper.on {
			display: block;
		}
		#search-cloud-wrapper.off {
			display: none;
		}		
			.search_filter_label {
				background: rgba(0,0,0,0.04);
				display: block;
				margin: 1px 0 0 0;
				padding: 6px 0;
			}
			.search_filter_arrow {
				float: left;
				font-weight: bold;
				padding-right: 5px;
				text-align: center;
				width: 15px;
			}
			.search_filter_data {
				padding: 6px 12px 12px 8px;
			}
				#search-filter-data.on {
					display: block;
				}
				#search-filter-data.off {
					display: none;
				}				
				.search_filter_data_reset {
					padding: 6px 0;
					overflow: hidden;
					font-family: 'OpenSans',Arial,sans-serif;
				}
					.search_filter_data_reset a {
						color: #003c71;
					}
				.search_filter_data_info {
					display: inline-block;
					font: 16px 'OpenSans',Arial,sans-serif;
					height: auto !important;
					padding-top: 3px;
					padding-bottom: 3px;
					position: relative;
					width: 100%;
				}
					.search_section_data_info_filters {
						height: auto;
					}

/* Media Queries */
@media screen and (max-width: 1024px) {
.search {
	margin-bottom: 3px;	
}
	
.search_container {
	border: none;
	padding: 0px;
}
	.search_box {
		padding-left: 5px;
		padding-right: 5px;
	}
	.search_box button {
		padding-left: 5px;
	}
	.search a.search_menu_toggle {
	   	border: 1px solid #c7c7c7;
    	color: #003c71;
    	display: block;
    	font-size: 1.25em;
    	text-align: left;
    	text-decoration: none;
	}
		.search a.search_menu_toggle.open {
			border-bottom: medium none;
			display: block;
		}	
		.search a.search_menu_toggle span {
	    	background: rgba(0, 0, 0, 0) url("../images/picto_joblist.png") no-repeat scroll 0 center;
	    	display: inline-block;
	    	margin: 0.55em;
	    	padding-left: 23px;
		}
		.search a.search_menu_toggle i {
			display: inline-block;
			float: right;
			margin: 0.55em;
		}
.search nav.open {
	display: block;
}
.search nav.close {
	display: none;
}
	.search_wrapper {
		 display: none;
	}
	.search_menu  {
	}
		.search_menu ul {
			padding-left: 0px;
		}
			.search_menu ul li {
/*				background-color: #efefef; */
				border: none;
				display: inline-block;
				height: 100%;
				line-height: 35px;
				margin-bottom: 3px;
				padding-bottom: 0px;
				width: 16.6%;
		    }		    
				.search_menu ul li.left {
					border: 1px solid #c7c7c7;
					margin-left: 0px;
			    }
					.search_menu ul li a.left {
						border-left: none;
					}
		#search-tab-menu {
			display: inline-block;
		}
	.search_filter_section {
		display: none;
	}
}

/* Auto Suggest dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    width: 375px;
}
	.auto-suggest-content {
	    display: none;
	    position: absolute;
	    background-color: #f9f9f9;
	    min-width: 375px;
	    overflow: auto;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    padding-left: 0px;
	}
		.auto-suggest-content li {
		    color: black;
		    padding: 2px 15px;
		    text-decoration: none;
		    display: block;
		    cursor: pointer;
		}
		.dropdown li.selected {background-color: #003c71;}
.show {display:block;}