<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:security="http://www.springframework.org/schema/security"    
	xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans      
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/security 
        http://www.springframework.org/schema/security/spring-security-4.0.xsd">

	<!-- These dont need securitry FYI Order of these in the config do matter-->
	<security:http pattern="/km/authtoken" security="none"/>
	<security:http pattern="/km/login" security="none"/>
	<security:http pattern="/km/login_v2" security="none"/>
	<security:http pattern="/km/property/read" security="none"/>
	<security:http pattern="/km/hovertext/**" security="none"/>
	<security:http pattern="/sso/error/**" security="none"/>

	<!-- Stateless RESTful services use custom BASIC authentication -->
    <security:http create-session="stateless" use-expressions="false" auto-config="false" entry-point-ref="unauthorizedEntryPoint" authentication-manager-ref="authenticationManager">
    	<security:intercept-url pattern="/km/ping/login" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<security:intercept-url pattern="/km/**" access="ROLE_REST"/>
		<security:custom-filter position="BASIC_AUTH_FILTER" ref="oidcSAMLAuthenticationFilter" />
		<security:custom-filter after="BASIC_AUTH_FILTER" ref="oidcSAMLFilters"/>
        <security:csrf disabled="true"/>
    </security:http>
 
    <security:authentication-manager id="authenticationManager" erase-credentials="false">
    	<security:authentication-provider ref="oidcSAMLAuthenticationProvider" />
    </security:authentication-manager>
       
<!-- Filters for processing of PING messages -->
    <beans:bean id="oidcSAMLFilters" class="org.springframework.security.web.FilterChainProxy">
        <security:filter-chain-map request-matcher="ant">			
            <security:filter-chain pattern="/km/ping/login" filters="oidcSAMLAuthenticationFilter"/>
			<security:filter-chain pattern="/km/ping/authcode" filters="oidcSAMLAuthCodeFilter"/>
        </security:filter-chain-map>
    </beans:bean>
	
	<beans:bean id="unauthorizedEntryPoint" class="com.verint.services.km.security.UnauthorizedEntryPoint" />
	
	<beans:bean id="oidcSAMLAuthenticationProvider" class="com.verint.services.km.security.KmOIDCSAMLAuthenticationProvider" />
	
	<beans:bean id="successRedirectHandler" class="com.verint.services.km.security.KmOIDCSAMLAuthenticationSuccessHandler">
		<!-- This is a mapping of pages to the service they belong in.  The savedurl cookie only saves pages so you can end up in the wrong service because the rest callout
			that is protected mught be in a different service.  The redirect will look at the page name and send it to the appropiate service based on these mappings-->
		<beans:property name="verintkm" value="verintkm.html,TestISet.html,jumppage.html"/>
        <beans:property name="contentservices" value="content_container.html,content.html,dtree_logout.html,feedback_container.html,feddback.html,iset_content_container.html,iset_content.html,open_content_message.html"/>
		<beans:property name="searchservices" value="code_content.html,code_search_container.html,code_search_results.html,code_search.html,iset_search_container.html,iset_search_results.html,iset_search.html,manage_bookmarks_container.html,manage_bookmarks.html,new_bookmark_folder_container.html,new_bookmark_folder.html,rename_bookmark_folder_container.html,rename_bookmark_folder.html,request_answer_container.html,request_answer.html,search_container.html,search_content_container.html,search_results.html,search.html"/>
        <beans:property name="filterservices" value="add_filter.html,filters_container.html,filters.html"/>
    </beans:bean>
	
	<beans:bean id="failureRedirectHandler" class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
	    <beans:property name="useForward" value="true"/>
        <beans:property name="defaultFailureUrl" value="/error.jsp"/>
    </beans:bean>
	
	<beans:bean id="oidcSAMLAuthCodeFilter" class="com.verint.services.km.security.KmOIDCSAMLAuthCodeFilter">
  		<beans:property name="authenticationManager" ref="authenticationManager"/>
  		<beans:property name="authenticationEntryPoint" ref="unauthorizedEntryPoint"/>
		<beans:property name="redirectURI" value="/km/ping/authcode"/>
				<!--for localhost set property "redirectURIForceHTTPS" to value="false" for environments with load balancers should be value="true"  -->
		<beans:property name="redirectURIForceHTTPS" value="true"/>
		<beans:property name="redirectURIUnAuthorized" value="/unauthorized.html"/>
		<beans:property name="redirectURIGeneralError" value="/general_error.html"/>				
	    <beans:property name="authenticationSuccessHandler" ref="successRedirectHandler"/>
	    <beans:property name="authenticationFailureHandler" ref="failureRedirectHandler"/>	
	    <!--authTokenExpirationDuration should match property oidc-token-service.token.expiration.duration in EM -->
	    <beans:property name="authTokenExpirationDuration" value="57600"/>
	    <beans:property name="oidcTokenServiceURL" value="https://wevrd39315.uhc.com/oidc-token-service/default/token"/>
	    <beans:property name="oidcTokenServiceGrantType" value="authorization_code"/>	    
	    <beans:property name="oidcTokenServiceClientId" value="default"/>
	</beans:bean>
	 
	 <beans:bean id="oidcSAMLAuthenticationFilter" class="com.verint.services.km.security.KmOIDCSAMLAuthenticationFilter">
		<beans:property name="oidcTokenServiceURI" value="https://wevrd39315.uhc.com/oidc-token-service/"/>
		<beans:property name="oidcTokenServiceResponseType" value="code"/>
		<beans:property name="oidcTokenServiceClientId" value="default"/>
		<beans:property name="oidcTokenServiceScope" value="openid%20context_entitlements%20content_entitlements%20em_api_access"/>
		<beans:property name="redirectURI" value="/km/ping/authcode"/>	
		<!--for localhost set property "redirectURIForceHTTPS" to value="false" for environments with load balancers should be value="true"  -->
		<beans:property name="redirectURIForceHTTPS" value="true"/>
		<beans:property name="redirectURIUnAuthorized" value="/unauthorized.html"/>
		<beans:property name="redirectURIGeneralError" value="/general_error.html"/>		
	 </beans:bean> 
</beans:beans>