@charset "UTF-8";

.add_filter_header h1 {
	background-color: #003c71;
    border-bottom: 1px solid #666666;
	border-image: none;
	border-style: none none solid;
	border-width: 0 0 1px;
	color: #ffffff;
	cursor: move;
	display: block;
	font-size: 14px !important;
	font-family: 'Lato',sans-serif;
	font-weight: normal;
	height: 32px;
	line-height: 32px;
	margin: 0;
	padding: 0 0 0 6px;			
}
.add_filter_body {
	height: auto;
	width: 100%;
}
	.add_filter_body_find {
			line-height: 17px;
			height: 100%;
    		max-width: 100%;
    		width: 100%;
	}
		.add_filter_body_find_left {
			float: left;
			width: 70%;
		}
		.add_filter_body_find_wrapper {
			padding: 6px;
		}
			.add_filter_body_find_wrapper input {
			    background-color: #ffffff;
			    border: 1px solid #a2a2a2;
			    border-radius: 3px;
			    box-shadow: 1px 1px 1px #ddd inset;
			    box-sizing: border-box;
			    font-family: "OpenSans",Arial,sans-serif;
			    font-size: 12px;
			    height: 24px !important;
			    line-height: 17px;
			    overflow: hidden;
			    padding-left: 6px;
			    padding-right: 6px;
			    width: 100%;
			    white-space: pre-wrap;
			    word-wrap: break-word;
			}
		.add_filter_body_find_right {
			overflow: hidden;
		 	style="width: 30%;
		}
		.add_filter_body_find_buttons {
			overflow: auto;
			padding: 6px 12px;
		}
			.add_filter_body_find_buttons_clear {
			 	float: right;
			}
				.add_filter_body_find_buttons_clear button {
					background-color: transparent;
				    background-image: none;
				    background-repeat: no-repeat;
				    border: 1px dashed #666666;
				    border-radius: 3px;
				    box-shadow: none;
				    box-sizing: border-box;
				    color: #666666;
				    cursor: pointer;
				    display: inline-block;
				    font-family: "OpenSans",Arial,sans-serif;
				    font-size: 12px;
				    height: 24px;
				    line-height: 22px;
				    margin: 0;
				    min-width: 0;
				    text-align: center;
				    white-space: nowrap;
				    width: auto;
				    transition: opacity 0.1s ease 0s, background-color 0.1s ease 0s, color 0.1s ease 0s, box-shadow 0.1s ease 0s, background 0.1s ease 0s;
				}
				.add_filter_body_find_buttons_find button, .add_filter_footer_right button, .add_filter_footer_left button {
				    background-color: #eee;
				    background-image: linear-gradient(to bottom, #fff 1%, #dfdfdf 100%);
				    background-repeat: no-repeat;
				    border: 1px solid #888;
				    border-radius: 3px;
				    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(39, 41, 43, 0.15) inset;
				    box-sizing: border-box;
				    color: #222222;
				    cursor: pointer;
				    display: inline-block;
				    font-family: "OpenSans",Arial,sans-serif;
				    font-size: 12px;
				    height: 24px;
				    line-height: 22px;
				    margin: 0;
				    min-width: 0;
				    transition: opacity 0.1s ease 0s, background-color 0.1s ease 0s, color 0.1s ease 0s, box-shadow 0.1s ease 0s, background 0.1s ease 0s;
				    text-align: center;
				    white-space: nowrap;
				    width: auto;
				}
					.add_filter_body_find_buttons_clear button:hover, .add_filter_body_find_buttons_find button:hover, .add_filter_footer_right button:hover, .add_filter_footer_left button:hover {
						border-color: #0099cc;
					}
					.add_filter_body_find_buttons_clear button:active, .add_filter_body_find_buttons_find button:active, .add_filter_footer_right button:active, .add_filter_footer_left button:active {
						color: #0099cc;
					}				
			.add_filter_body_find_buttons_find {
			 	float: right;
			 	padding-right: 6px;
			}
.add_filter_tree {
	height: 360px;
	overflow-y: auto;
	padding: 5px;
}
.add_filter_footer {
}
	.add_filter_footer_wrapper {
		overflow: auto;
		padding: 6px 12px;
	}
		.add_filter_footer_right {
			float: right;
			overflow: hidden;
		}
		.add_filter_footer_left {
			float: left;
		}